body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  background-color: #f5faff;
  color: #1a3d3f;
}

.btn-custom {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #00bfa6;
  color: #00bfa6;
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: large;
}

.btn-custom:hover {
  background-color: #00bfa6;
  color: white;
}

.socials img {
  width: 24px;
  height: 24px;
  margin: 10px 10px 0 0;
  filter: invert(40%) sepia(50%) saturate(350%) hue-rotate(160deg);
}

.avatar img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00bfa6;
}

.skill, .project, .edu-box {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  color: #1a3d3f;
  transition: transform 0.2s ease;
  font-weight: bold;
}

.skill:hover,
.project:hover,
.edu-box:hover {
  transform: translateY(-4px);
}

.skill img {
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.edu-box {
    cursor: pointer;
    border: 2px solid #00bfa6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

.edu-box:hover {
    background-color: #e6fffa;
}

.edu-details {
    display: none;
    margin-top: 10px;
}

.edu-box.active .edu-details {
    display: block;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
